#adicionar comentário
Options -indexes

RewriteEngine On

RewriteBase /blog/

RewriteCond %{SCRIPT_FILINAME} !-f
RewriteCond %{SCRIPT_FILINAME} !-d
RewriteCond %{SCRIPT_FILINAME} !-l

RewriteRule ^(.*)$ index.php?url=$1