<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-transparent border-0">
            <h2>
                <i class="fa-solid fa-bars-staggered" tooltip="tooltip" title="MENU"></i>
                <span class="sr-only">Toggle Menu</span>
            </h2>
        </button>
        <div class="btn-group mb-2">
            <button type="button" class="btn bg-white dropdown-toggle" data-bs-toggle="dropdown"
                data-bs-display="static" aria-expanded="false">
                <i class="fa-solid fa-user me-2"></i> Jr Medeiros
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
                <li>
                    <a class="dropdown-item" href="#" tooltip="tooltip" title="Perfil">
                        Perfil
                    </a>
                </li>
                <li>
                    <a class="dropdown-item text-danger" href="#" tooltip="tooltip" title="Perfil">
                        Sair
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- 
<header class="container-fluid" style="grid-template-columns: 3fr 1fr;">
    <h2>
        <label for="menu" id="sidebarCollapse" >
            <i class="fa-solid fa-bars-staggered" tooltip="tooltip" title="MENU"></i>
        </label>
    </h2>
    <div class="btn-group mb-2">
        <button type="button" class="btn bg-white dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static"
            aria-expanded="false">
            <i class="fa-solid fa-user me-2"></i> Jr Medeiros
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end">
            <li>
                <a class="dropdown-item" href="#" tooltip="tooltip" title="Perfil">
                    Perfil
                </a>
            </li>
            <li>
                <a class="dropdown-item text-danger" href="#" tooltip="tooltip" title="Perfil">
                    Sair
                </a>
            </li>
        </ul>
    </div>
</header> -->